.img{
    width: 70px;
    height: auto;
}
.carritoAreaIcono{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: whitesmoke;
}